.root{
    -fx-background-image: url("background2.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 450 300;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.button{
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-color: rgba(205,205,205,0.7);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
}

.button:pressed{
    -fx-background-color: rgba(180,180,180,0.7);
}
 
.button:hover{
    -fx-background-color: rgba(235,235,235,0.7);
}

.label{ 
    	-fx-font-size: 18px;
    	-fx-font-weight: bold;
    	-fx-text-fill: #333333;
    	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ); 
	-fx-background-radius: 15 15 15 15;
	-fx-background-insets: 2 2 2 2 ; 
        -fx-fill:  linear-gradient(cyan , dodgerblue); 
}